* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nfce {
  display: inline-block;
  width: 50%;
  height: 50px;
  resize: none;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 0.7rem;
  min-height: 50px;
  max-height: 20vh;
  overflow-y: scroll;
}

.btn-copiar {
  display: flex;
  width: 60px;
  height: 30px;
  background-color: #e0a500;
  font-weight: bolder;
  color: #8c6700;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 3px;
}

.linha {
  position: relative;
  width: 100px;
  margin: 0 auto;
  height: 3px;
  background-color: #d1d1d1;
  margin-top: 0px;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  width: 60px;
  height: 30px;
  background-color: #ededed;
  font-weight: bolder;
  color: #787878;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 3px;
}

.btn:hover {
  background-color: #bfbfbf;
  color: black;
}

.btn-copiar img {
  max-width: 40%;
}

.btn-copiar:hover {
  color: #e0a500;
  background-color: #8c6700;
}

.btn-copiar:active {
  color: black;
  background-color: white;
}

.output {
  margin-top: 30px;
  display: flex;
  background-color: #f0f0f0;
  width: 50%;
  min-height: 50px;
  max-height: 20vh;
  border-radius: 4px;
  border: 1px solid #858585;
  flex-wrap: wrap;
  overflow-y: scroll;
  font-size: 0.875rem;
}
